.frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    width: var(--thumbnail-size);
}

.picture {
    width: 100px;
    height: 100px;
    cursor: pointer;
    
    &.pixel {
        image-rendering: crisp-edges;
    }
}

.date {
    font-style: italic;
}